@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-color: v.$white;
    box-shadow: .1rem .2rem .3rem #b6b5b5;

    @include m.tablet {
        position: static;
        left: 0;
        top: 0;
        width: 100%;
        box-shadow: .1rem .2rem .3rem #b6b5b5;
    }

    .content-header {
        padding: 2rem;
    }

}

.nav-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .nav-main_option {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include m.tablet {
            flex-direction: row;
            align-items: center;
            gap: 4rem;
        }
    }

    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
    }

    a {
        color: v.$black;
        font-size: 1.7rem;

        &:hover,
        &.active {
            color: v.$red;
        }

        @include m.desktop {
            font-size: 2.2rem;
        }

    }

    .photo {
        display: none;

        @include m.tablet {
            display: flex;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            height: auto;
            width: 15rem;
            box-shadow: 0rem .1rem .3rem .9rem #fafafa;
            border-radius: 20rem;

        }
    }
}
