@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    position: relative;
    overflow: hidden;
    .overlay {
        position: absolute;
        background-color: rgba(0, 0, 0, .7);
        inset: 0;
        display: flex; // aqui  se puso esto porque overlay es el; padre 
        align-items: center; // de contenido video y desde ahi se acomoda
    }

    .dark-mode-boton {
        position: absolute;
        right: 5%;
        margin: 5rem;
        width: 4rem;
        filter: invert(100%);

        &:hover {
            cursor: pointer;
        }
    }

    .img-banner {
        height: 30rem;
        @include m.tablet{
            height: 40rem;
        }
    }

}

.content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    @include m.container;

    @include m.tablet {
        margin-left: 15rem;
        padding-top: 0rem;
        align-items: flex-start;
    }

    h2 {
        color: v.$white;
        font-size: 3rem;
        font-weight: 700;
        margin: 0;
    }

    h1 {
        color: v.$white;
        font-size: 3.5rem;
        margin: 0;

        @include m.tablet {
            font-size: 5rem;
        }
    }

    p {
        display: inline-block;
        padding: 1rem 2rem;
        color: v.$white;
        font-size: 1.5rem;
        margin: 0;

        @include m.tablet{
            margin: 0;
            padding: 1rem 0rem;
            
        }
    }
}